/* ============================
   PRODUCT BODY
============================ */
.product-body {
    margin-top: 20px;
    text-align: center;
}

/* ---------- TITLE PRODUCT ---------- */
.product-body .title-product {
    background: url(../image/icon/c1.gif) repeat-x left center;
    position: relative;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

.product-body .title-product .left {
    display: inline-block;
    margin: 5px 0;
    padding: 0 15px;
    background: #fff;
}

.product-body .title-product .left h2 {
    margin: 0;
    padding: 0 25px;
    background:
        url(../image/icon/c.gif) no-repeat left center,
        #fff url(../image/icon/c.gif) no-repeat right center;
}

.product-body .title-product .left h2 a {
    color: #000;
    font-family: "Open Sans Bold";
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
}

.product-body .title-product .right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 15px 0 10px;
    background: #fff url(../image/icon/i1.gif) no-repeat right center;
}

.product-body .title-product .right a {
    margin-right: 5px;
    color: #333;
}

.product-body .title-product .right a:hover {
    color: #bd0103;
}

/* ============================
   PAGE BUTTON
============================ */
.page-button {
    text-align: center;
}

.page-button .next,
.page-button .pre {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transition: all 0.3s;
}

.page-button .pre {
    background-image: url(../image/icon/pre.png);
}

.page-button .next {
    background-image: url(../image/icon/next.png);
    margin-left: 5px;
}

.page-button .next:hover,
.page-button .pre:hover {
    background-position: 0 bottom;
    cursor: pointer;
}

/* ============================
   PRODUCT SLIDER
============================ */

/* FIX 100% lỗi tên bị ẩn */
.body .width {
    overflow: visible !important;
}

.body .wapper {
    width: 9000000px;
}

.body .wapper .item {
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}

/* Bỏ hidden để hover không bị cắt */
.body .wapper .item .khung-img {
    padding: 7px;
    border: 1px solid #fff;
    box-sizing: border-box;
    overflow: visible !important;
}

.body .wapper .item .khung-img:hover {
    border: 1px solid #ededed;
}

/* ---------- PRODUCT INFO ---------- */
.body .wapper .item .name {
    margin-top: 10px;
    min-height: 42px;  /* giữ 2 dòng tên không bị tràn */
}

.body .wapper .item .name a {
    color: #333;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    font-family: "Open Sans Bold";
    font-weight: 700;
    display: block;
}

.body .wapper .item .name a:hover {
    color: #bd0103;
}

.body .wapper .item .price {
    font-family: Montserrat;
    color: #bd0103;
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
}

/* ---------- PRODUCT IMAGE (CHUẨN NHẤT) ---------- */
.item-img {
    width: 100%;
    position: relative;
}

/* Ảnh chính */
.item-img img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    border-radius: 6px;
}

/* Ảnh hover */
.img_1 {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
}

.item-img:hover .img_1 {
    left: 0;
    opacity: 1;
}

/* ============================
   PRODUCT BUTTONS
============================ */
.button-product {
display: flex;
justify-content: center;
    margin-top: 10px;
}

/* Nút giỏ hàng & xem chi tiết */
.button-product .cart,
.button-product .see {
    background: #333;
    padding: 5px 10px 5px 5px;
    text-decoration: none;
    display: inline-block;
}

/* Icon trong nút */
.button-product .cart i,
.button-product .see i {
    color: #fff;
    padding-right: 5px;
    border-right: 1px solid #ededed;
    margin-right: 5px;
    font-size: 13px;
}

/* Chữ trong nút */
.button-product .cart span,
.button-product .see span {
    color: #ededed;
    font-size: 13px;
}

/* Khoảng cách riêng của nút xem */
.button-product .see {
    margin-left: 10px;
}

/* Hover */
.button-product .cart:hover,
.button-product .see:hover {
    background: #bd0103;
}
